<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commeow Chat</title>
    <style>

    </style>
</head>
<body>
<div id="chat-container">
    <div id="nickname-input">
        <input type="text" id="username" placeholder="id를 입력하세요...">
        <!--<button id="confirmUsername" onclick="confirmUsername()">완료</button>-->
    </div>
    <div class="chat-box">
        <ul id="message-list"></ul>
        <div id="message-input1">
            <input type="text" id="inputMessage1" placeholder="PositionX를 입력하세요...">
        </div>
        <div id="message-input2">
            <input type="text" id="inputMessage2" placeholder="PositionY를  입력하세요...">
        </div>
        <div id="message-input3">
            <input type="text" id="inputMessage3" placeholder="PositionZ를 입력하세요...">
        </div>
        <div id="message-input4">
            <input type="text" id="inputMessage4" placeholder="EulerAngleX를 입력하세요...">
        </div>
        <div id="message-input5">
            <input type="text" id="inputMessage5" placeholder="EulerAngleY를 입력하세요...">
        </div>
        <div id="message-input6">
            <input type="text" id="inputMessage6" placeholder="EulerAngleZ를 입력하세요...">
        </div>
        <div id="message-input7">
            <select id="inputMessage7">
                <option value="STAND">STAND</option>
                <option value="JUMP">JUMP</option>
            </select>
        <br>
            <button onclick="saveRequest()">저장</button>
        </div>
    </div>
    <div>
        <div>
            현제 맵위 사람 정보
        </div>
        <ul id="output-list">

        </ul>
    </div>

    <div id="delete-input">
        <input type="text" id="delete-username-input" placeholder="id를 입력하세요...">
        <button onclick="deleteRequest()">삭제</button>
        <!--<button id="confirmUsername" onclick="confirmUsername()">완료</button>-->
    </div>
</div>
<script>
    const chatWebSocket = new WebSocket('ws://' + location.host + '/ws-chat');
    //user 저장 데이터
    const userId=document.getElementById('username');
    const positionX=document.getElementById('inputMessage1');
    const positionY=document.getElementById('inputMessage2');
    const positionZ=document.getElementById('inputMessage3');
    const eulerAngleX=document.getElementById('inputMessage4');
    const eulerAngleY=document.getElementById('inputMessage5');
    const eulerAngleZ=document.getElementById('inputMessage6');
    const status=document.getElementById('inputMessage7');
    //user 삭제 데이터
    const delete_username=document.getElementById('delete-username-input')

    const messageList = document.getElementById('output-list');

    chatWebSocket.onmessage = function(event) {
        const outputChildren = document.getElementsByClassName("output-child");
        // HTMLCollection의 모든 요소를 제거
        while(outputChildren.length > 0) {
            outputChildren[0].remove();
        }

        messageList.innerHTML = '';

        // 받은 텍스트 데이터를 파싱하여 사용자 정보를 추출
        const userData = extractUserData(event.data);
        console.log("respose",userData)
        // 사용자 정보를 화면에 출력
        userData.forEach(function(user) {
            const li = document.createElement('li');

            li.classList.add('output-child');
            li.innerText = `UserID: ${user.userId}, Position: (${user.positionX}, ${user.positionY}, ${user.positionZ}), Euler Angles: (${user.eulerAngleX}, ${user.eulerAngleY}, ${user.eulerAngleZ}), Status: ${user.status}`;
            messageList.appendChild(li);
        });
    };

    chatWebSocket.onclose = function(event) {
        alert('웹소켓이 닫혔습니다! 다시 연결하려면 페이지를 새로고침 해주세요.');
    };
    function saveRequest() {
        /*if (inputMessage.value.trim() === '') {
            return;
        }*/

        // chatWebSocket.send(inputMessage.value);
        //const username = document.getElementById("username").value.trim();
        const messageObject = {
            mapRequestType: "SAVE",
            userId: userId.value,
            positionX: positionX.value,
            positionY: positionY.value,
            positionZ: positionZ.value,
            eulerAngleX: eulerAngleX.value,
            eulerAngleY: eulerAngleY.value,
            eulerAngleZ: eulerAngleZ.value,
            status: status.value
        };
        for (const key in messageObject) {
            if (key !== 'mapRequestType' && key !== 'status') {
                // mapRequestType과 status를 제외하고 모든 값을 double로 변환
                messageObject[key] = parseFloat(messageObject[key]);
            }
        }
        console.log("request",messageObject)
        chatWebSocket.send(JSON.stringify(messageObject));
        resetMessage()
    };
    function deleteRequest() {
        const messageObject = {
            mapRequestType: "DELETE",
            userId: delete_username.value,
        };

        chatWebSocket.send(JSON.stringify(messageObject));
        resetMessage()
    };
    function resetMessage(){
        this.mapRequestType='';
        this.userId = '';
        this.positionX = '';
        this.positionY = '';
        this.positionZ = '';
        this.eulerAngleX = '';
        this.eulerAngleY = '';
        this.eulerAngleZ = '';
        this.status = '';
    }

    function confirmUsername() {
        const usernameInput = document.getElementById("username");
        const confirmButton = document.getElementById("confirmUsername");

        if (usernameInput.value.trim() !== '') {
            usernameInput.disabled = true;
            confirmButton.disabled = true;
            confirmButton.style.backgroundColor = "gray";
        }
    }
    function extractUserData(text) {
        // 정규식 패턴을 사용하여 사용자 정보를 추출
        const pattern = /{([^}]+)}/g;
        const matches = text.match(pattern);

        // 추출된 사용자 정보를 객체로 변환
        const userData = matches.map(match => {
            const data = match.split(', ');
            const user = {};

            data.forEach(item => {

                const cleanedItem = item.replace(/[{}]/g, '');

                const [key, value] = cleanedItem.split("=");
                user[key.trim()] = value; // 작은따옴표(') 제거
            });
            return user;
        });

        return userData;
    }
</script>
</body>
</html>